nav.navbar {
    font-family: DINPro-Medium, Arial, sans-serif;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    color: #666;
    padding: 0 1rem;
    height: 57px;
}

.nav-link:hover {
    background-color: #e7e7e7;
}

.navbar-nav a {
    padding-top: 1rem;
    padding-bottom: 1rem;
}